/* ============================================= */
/* General
/* ============================================= */

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.welcome {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}

.welcome strong{
	text-transform: capitalize;
}

.stats li>div>i {
	padding-top: 20px;
}

#notif-box {
	display: none;
}

.page-header h1 small {
	font-weight: bold;
}

.block-important {
	display: block !important;
}

.metro-table tbody tr td span {
	min-height: 36px;
}

.full-width {
	width: 100%;
}

/*========================================*/
/* Header
/*========================================*/

header .user {
	border-right: 2px solid #181413;
}

nav#main_topnav {
	padding: 0;
}

nav#main_topnav ul > li {
	position: relative;
}

nav#main_topnav ul > li i {
	margin-right: 5px;
}

nav#main_topnav ul > li i:before {
	color: #fff;
	font-size: 16px;
}

nav#main_topnav ul > li > a {
	font-size: 16px;
	display: inline-block;
	padding: 12px 0;
}

nav#main_topnav ul > li:hover .toggle {
	display: block;
}

nav#main_topnav .toggle {
	position: absolute;
	top: 32px;
	right: -15px;
	background: #181413;
	min-width: 160px;
	display: none;
	padding: 5px 0;
}

nav#main_topnav ul > li:last-child .toggle {
	width: 260px;
}

nav#main_topnav .toggle li {
	display: block;
	margin: 0;
	padding: 3px 15px 7px;
}

nav#main_topnav .toggle li a {
	font-size: 14px;
	line-height: 1.3;
	padding: 0;
}

/*========================================*/
/* General Popup
/*========================================*/

.popup {
	display: none;
}

.popup .background {
	background: #000;
	opacity: 0.4;
    filter: alpha(opacity=40);
    top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: fixed;
}

.popup .content {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fff;
	padding: 20px;
	box-shadow: 0 3px 0 rgba(12,12,12,0.03);
	z-index: 9999;
}

/*========================================*/
/* Popup Loader
/*========================================*/

#popup-uploading .content {
	padding: 25px 20px;
	text-align: center;
	margin-top: -60px;
	margin-left: -160px;
	width: 320px;
	height: auto;
}

#popup-uploading i {
	font-size: 30px;
}

#popup-uploading .content {
	text-align: left;
}

#popup-uploading .content .status li {
	list-style: none;
}

#popup-uploading .content .status li .done {
	display: none;
}

/* ---------------  <= 640 px layout -------------------- */
@media only screen and (max-width: 640px) {
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		font-size: 12px;
	}
}
