/* TYPOGRAPHY */
.center {
	text-align: center;
}
.italic {
	font-style: italic;
}


.welcome {
	text-align: center;
	font-size: 20px;
	margin-bottom: 40px;
}
.welcome strong{
	text-transform: capitalize;
}
.stats li>div>i {
	padding-top: 20px;
}

/* ---------------  <= 640 px layout -------------------- */
@media only screen and (max-width: 640px) {
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		font-size: 12px;
	}
}
