@page { size: landscape; margin: 1cm; }
body {
	font-size: 7pt;
}
.page-break {page-break-after: always;}
nav,header {
	display: none;
}
#main_content{
	padding: 0 !important;
}
.left{
	width: 42%
}
.right{
	width: 47%;
}
.left{
	float: left;
}
.right{
	float: right;
}
.loading{
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	width: 100%;
	height: 100%;
}
.loading > div {
	position: absolute;
	left:50%;
	top: 50%;
	background: url(../images/spinner.gif) no-repeat top center / 20px;
	padding-top: 24px;
}

.box-description{
	position: relative;
}
.box-description h3	{
	margin-top: 0;
}
.box-description .left{
	width: 100%;
}
.box-description .right{
	position: absolute;
	right: 30px;
}
.box-description .logo-ukdw img{
	float: right;
	height: 72px;
}

dt{
	float: left;
	clear: left;
	width: 120px;
}
dd{
	float: left;
}
dd:before{
	content: ':';
	margin-right: 10px;
}
.box-chart{
	margin-top: 40px;
}
.box-chart .keterangan{
	padding: 0 40px;
	font-size: 7pt;
}
.box-chart .keterangan > div {
	display: inline-block;
	width: 160px;
}
.table{
	font-size: 7pt;
	border-collapse: 
}
.table th{
	text-align: center;
	vertical-align: middle !important;
}
.table-resume {
	border-collapse: collapse;
	border: 1px solid #ddd;
	float: right;
	width: 160px;
}
.table-resume tbody td{
	border:none !important;
}
.table-resume tfoot{
	font-weight: bold;
}
.highcharts-button, .highcharts-title{
	display: none;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	padding: 3px;
}
.box-pengesahan{
	width: 260px;
}
.box-pengesahan table td{
	height: 70px;
}
#container{
	margin-bottom: 10px;
	border: 1px solid #ddd;
}

.box-panduan-perhitungan .title{
	font-size: 8px;
	text-align: center;
	font-weight: bold;
}