/* FORM PAKEt PERTANYAAN */
ul#number{
	float: left;
	width: 10%;
}
ul.sortable{
	float: left;
	width: 90%;
	cursor: move;
}
ul#number li,
ul.sortable li
{
	padding: 10px 15px;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	list-style-type: none;
	height: 115px;
}

ul#sortable li.clone
{
	background: rgba(255, 212, 170, 0.3);
}

#save-paket-loading
{
	display: none;
}
#save-paket-loading img
{
	margin-right: 7px;
}