/* FORM PAKEt PERTANYAAN */
.box-form-pertanyaan .panel-body{
	padding-left: 0 !important;
}
ul#number{
	float: left;
	width: 10%;
}
ul.sortable{
	float: left;
	width: 90%;
	cursor: move;
}
ul#number li,
ul.sortable li
{
	padding: 10px 15px;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	list-style-type: none;
	height: 115px;
}
ul#number li{
	border: none;
}
ul#sortable li.clone
{
	background: rgba(255, 212, 170, 0.3);
}

#save-paket-loading
{
	display: none;
}
#save-paket-loading img
{
	margin-right: 7px;
}
#number span{
	font-size: 27px;
	background: #259ccf;
	height: 40px;
	width: 40px;
	display: block;
	text-align: center;
	color: #fff;
	border-radius: 1em !important;
	margin: auto;
	vertical-align: middle;
	margin-top: 26px;
}

/* ---------------  <= 991 px layout -------------------- */
@media only screen and (max-width: 991px) {
	#list-pertanyaan .col-md-3 {
		width: 30%;
		float: left;
	}
	#list-pertanyaan .col-md-9 {
		width: 70%;
		float: right;
	}
	ul#number li{
		padding: 10px 0;
	}
	ul#number span{
		margin: 0 auto;
		height: 30px;
		width: 30px;
		font-size: 20px;
	}
}

/* ---------------  <= 768 px layout -------------------- */
@media only screen and (max-width: 768px) {
	ul#number li, ul.sortable li{
		height: 180px;
	}
	#list-pertanyaan .col-md-3 {
		width: 100%;
		float: none;
	}
	#list-pertanyaan .col-md-9 {
		width: 100%%;
		float: none;
	}
}