#box-form-pertanyaan .panel-body{
	padding-left: 15px !important;
}
.labels-set {
	margin: 0 10px;
	overflow: hidden;
	border-bottom: 1px solid #d1d1d1;
	margin: 5px 0 10px;
}
.labels-set div{
	padding: 0 0 6px 0;
	font-weight: bold;
}
#list-pertanyaan {
	width: 100%;
	padding: 0;
}
#list-pertanyaan li div{
	padding: 0 10px 0 0;
}
#list-pertanyaan li div.last{
	padding: 0;
}
#list-pertanyaan li > div:first-child{
	padding-left: 25px;
	background: url(../images/draggable.png) no-repeat left center;
}
ul.sortable li{
	height: auto;
	overflow: hidden;
	border: none;
	padding: 0;
}
#form-pertanyaan {
	padding: 10px;
}
.detail-box {
	margin:15px 25px;
	position: relative;
	padding: 0 0 20px !important;
}
a.hide-detail-box{
	position: absolute;
	right: 0;
	bottom: 0;
}
span.validation_msg{
	color: rgb(231, 49, 15);
	font-size: 12px;
	display: block;
	margin-top: 3px;
}

#box-form-info-paket .panel-body .row{
	margin-bottom: 10px;
}
#box-form-info-paket .panel-body .row:last-child{
	margin-bottom: 0px;
}

.tagsinput {
	border: 1px solid #dddddd;
	background: #FFF;
	padding: 5px;
	width: 300px;
	height: 100px;
	overflow-y: auto;
	margin: 0px !important;
	width: 100%;
}
.tagsinput span.tag{
	border: 1px solid #0a88be;
	display: block;
	float: left;
	padding: 2px 5px;
	text-decoration: none;
	background: #30abe0;
	color: #FFF;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 13px;
}
.tagsinput span.tag a{
	color: #fff;
}
.tagsinput .addTag > span.tambah {
	color: #a1a1a1;
	height: 24px;
	display: block;
	line-height: 1.7;
}
.tagsinput-blocker{
	background: #dbdbdb;
	opacity: 0.5;
	filter:alpha(opacity=50);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	cursor: not-allowed;
}
#select-unit, #select-angkatan, #select-kelas, #select-mahasiswa{
	position: relative;
}
.select2-container .select2-choice {
	height: 24px !important;
}
#select-unit .addTag .select2-container {
	min-width: 200px !important;
}
#select-kelas .addTag .select2-container {
	min-width: 430px !important;
}
#select-mahasiswa .addTag .select2-container {
	min-width: 430px !important;
}
.no-border span{
	border: none !important;
}